<div id ="parent">	
	<span>
		<div id="user_info" ng-show="loginObj.user">
			{{loginObj.user.email}} | <a href="#" ng-click="loginObj.$logout()"> Logout</a>
		</div>
	</span>
	<aside>
		<div id="user_tabs">
			<ul>
				<li class="current" ng-repeat="user in usersArray" ng-click="" >{{user.$id}}</li>
			</ul>
		</div>
		<div>
		<button ng-click="count = count + 1" ng-init="count=0">
			count: {{count}}
		</button>
		</div>
		
		<div style="clear:both;" id="comments">
			
			<div class='comment' ng-repeat="selection in userArray">
				<div class='comment_number'><p>{{selection.number}}</p></div>
				<div class='comment_box'><textarea placeholder=''>{{selection.comment}}</textarea></div>
			</div>
			
			
		</div>
	</aside>
	
	<div id="canvas_area">
		<canvas id="canvas" ng-mousedown="mouseDown($event)" ng-mouseup="mouseUp($event)"></canvas>
		<canvas id="canvasImg"></canvas>
	</div>
</div>