<div id="login_container">
	<div id="login_box">
		<div class="shadow" id="login_top">
			<h1>Sign In</h1>
		</div>
		<div class="shadow" id="login_form">
			<form ng-submit="attemptLogin()">
				<input class="login_box_text" type="email" placeholder="Email Address" ng-model="log.email" />
				<input class="login_box_text" type="password" placeholder="Password" ng-model="log.password" />
				<button type="submit">Login</button>
			</form>
			<p class="error_message">{{error}}</p>
		</div>
		<a href="/#/create_user">New User</a>
	</div>
</div>